/* ----- Light Theme ----- */
:root {
  --color: #000;
  --bg: #fff;
  --alt-bg: #f5f5f5;
  --hover: #eaeaea;

  --body-bg: #630;
  --header: #c60;

  --nav-bg: #420;
  --nav-hover: #851;
  --nav-color: cornsilk;

  --btn-bg: #f90;
  --btn-hover: #e70;

  --link: #e70;
  --border: #ddd;
  /* --shadow: #0004; */
  --dim: #777;
  --tr: #f5f5f5;
}

/* ----- Dark Theme ----- */
@media screen and (prefers-color-scheme: dark) {
  :root {
    --color: #fff;
    --bg: #420;
    --alt-bg: #666;
    --hover: #888;

    --body-bg: #630;
    --header: #e70;

    --btn-bg: #f90;
    --btn-hover: #e70;

    --link: #f90;
    --border: #777;
    /* --shadow: #fff8; */
    --dim: #ccc;
    --tr: #531;
  }
}

/* ----- General ----- */
body {
  color: var(--color);
  background-color: var(--body-bg);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

article {
  padding: 0;
  margin: 0;
}

section {
  padding: 0;
}

select,
textarea,
input[type="number"],
input[type="text"],
input[type="password"],
input[type="url"] {
  width: 100%;
  color: inherit;
  background-color: var(--alt-bg);
  border: 1px solid var(--border);
  border-radius: 0.3em;
}

a {
  color: var(--link);
  text-decoration: none;
}

::placeholder {
  opacity: 0.5;
  color: inherit;
  font-style: italic;
}

button {
  background: var(--btn-bg);
  color: inherit;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}

button:hover {
  background: var(--btn-hover);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.invalid,
input:invalid {
  box-shadow: 1px 1px 4px #f20, -1px -1px 4px #f20;
}