/* ----- theme ----- */
:root {
  /* FF120 (2023-11-), Ch123 ?? check */
  color-scheme: light dark;

  --color: light-dark(#000, #fff);
  --link: light-dark(#e70, #f90);
  --dim: light-dark(#777, #ccc);

  --bg: light-dark(#fff, #420);
  --bg-alt: light-dark(#f5f5f5, #666);

  --hover: light-dark(#eaeaea, #444);
  --border: light-dark(#ddd, #777);
  --selected: light-dark(#fec8, #222);

  --btn-bg: #f90;
  --btn-hover: #e70;

  --body-bg: #630;
  --header: light-dark(#c60, #e70);

  --nav-bg: #420;
  --nav-hover:#851;
  --nav-color: cornsilk;

  --highlight: #f90;
}

/* ----- general ----- */
body {
  color: var(--color);
  background-color: var(--body-bg);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

article {
  padding: 0;
  margin: 0;
}

section {
  padding: 0;
}

a {
  color: var(--link);
  text-decoration: none;
}

code {
  font-size: 1.3em;
  padding: 0 0.3em;
  background-color: var(--bg-alt);
  white-space: break-spaces;
}

img {
  vertical-align: middle;
}

/* ----- input ----- */
input[type="number"],
input[type="password"],
input[type="text"],
input[type="url"],
select,
textarea {
  width: 100%;
  color: inherit;
  background-color: var(--bg-alt);
  border: 1px solid var(--border);
  border-radius: 0.3em;

  &:hover {
    background-color: var(--hover);
  }
}

/* pointer */
button,
input[type="checkbox"],
input[type="number"],
input[type="password"],
input[type="text"],
input[type="url"],
label:has(input),
label.button,
label[for],
select,
summary,
.pointer {
  cursor: pointer;
}

::placeholder {
  font-style: italic;
}

:invalid {
  box-shadow: 1px 1px 4px #f20, -1px -1px 4px #f20;
}

/* ----- import/export ----- */
input[type="file"] {
  display: none;
}

/* ----- navigation ----- */
input[name="nav"],
input[type="checkbox"].control {
  display: none;
}
/* ----- /input ----- */

/* ----- buttons ----- */
button > * {
  pointer-events: none;
}

:is(button, input, select):disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

:is(button, label) img {
  width: 1em;
}

/* default button */
button,
label.button {
  background-color: var(--btn-bg);
  border: none;
  line-height: 1;
  white-space: nowrap;

  &:hover {
    background-color: var(--btn-hover);
  }
}

label.button {
  display: inline-block;
  text-align: center;
}

button.plain {
  background-color: unset !important;
  border: none;
  color: inherit;
  margin: 0;
  min-width: unset;
  padding: 0;
}

button[type="submit"] {
  color: #fff;
  display: table;
  margin: 1em auto 0;
  min-width: 8em;
}
/* ----- /buttons ----- */