@import 'default.css';

/* ----- General ----- */
:root {
  --nav-height: 2.5rem;
}

html {
  scroll-padding-top: calc(var(--nav-height) + 0.5rem);
}

body {
  /* Chrome sets font-size to 75% (16px x 75% = 12px) */
  font-size: unset;
}

img {
  vertical-align: text-bottom;
}

article {
  padding: 2em;
  background-color: var(--bg);
}

article>*:not(h2):not(h3) {
  margin-left: 2rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 1px;
  /* font-weight: normal; */
}

h2 {
  color: var(--header);
  font-size: 1.8em;
}

h3 {
  color: var(--nav-hover);
  font-size: 1.4em;
}

h2 span,
h3 span {
  color: var(--dim);
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
  margin-left: 0.5em;
}

h4 {
  margin-bottom: 0;
  font-size: 1.2em;
}

dt {
  /* color: var(--nav-bg); */
  background-color: var(--alt-bg);
  display: table;
  padding: 0.2em 0.5em;
}

dd + dt {
  margin-top: 0.5em;
}

dd > dl {
  margin: 1em auto;
}

dt span {
  margin-left: 0.5em;
  color: var(--dim);
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
  font-size: 0.9em;
}

dd dl dt {
  background-color: unset;
}

/* ----- About ----- */
.about dt {
  background: none;
  color: var(--nav-hover);
}

/* ----- /About ----- */

/* ----- Navigation ----- */
nav {
  background-color: var(--bg);
  height: var(--nav-height);
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 3px 6px #0004;
  display: flex;
  align-items: center;
}

nav a {
  color: var(--color);
  padding: 0.5em 1em;
  transition: 0.5s;
}

nav a:hover {
  color: var(--btn-bg);
}

/* ----- /Navigation ----- */

/* ----- Table ----- */
table {
  border-collapse: collapse;
  border: 1px solid var(--border);
  margin-bottom: 1em;
  width: calc(100% - 2.5rem);
  font-size: 0.9em;
}

caption {
  padding: 0.5em;
}

th,
td {
  border: 1px solid var(--border);
  vertical-align: top;
}

th {
  background-color: var(--alt-bg);
  text-align: left;
  padding: 0.5em;
}

/* th span {
  display: block;
  font-size: 0.9em;
  font-weight: normal;
  font-style: italic;
} */

td {
  padding: 0.5em;
}

/* ----- /Table ----- */
p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

pre {
  border-left: 2px solid #ccc;
  padding: 0.5em 1em;
}

code {
  padding: 0 0.3em;
  background-color: var(--hover);
}

blockquote {
  color: var(--color);
  padding: 1em 3.5em;
  font-style: italic;
  position: relative;
  font-size: 0.9em;
}

blockquote::before {
  color: #ccc;
  opacity: 0.6;
  font-size: 4em;
  position: absolute;
  content: '❝';
  top: 0;
  left: 0.1em;
}

blockquote::after {
  color: #ccc;
  opacity: 0.6;
  font-size: 4em;
  position: absolute;
  content: '❞';
  bottom: -0.5em;
  right: 0.5em;
}

cite {
  display: block;
  margin-top: 1em;
  color: #999;
}

cite::before {
  content: '— source: ';
}

figure {
  display: table;
  text-align: center;
  padding: 0;
}

figure img {
  border-radius: 1em;
  border: 4px solid var(--nav-hover);
  width: 140px;
}

figcaption {
  font-style: italic;
  font-size: 0.9em;
  padding-top: 0.5em;
}

.note,
.warning {
  color: var(--color);
  border: 1px solid var(--border);
  border-left: 4px solid var(--btn-bg);
  padding: 0.2em 0.5em;
  margin-top: 0.3em;
  border-radius: 4px;
  display: table;
  position: relative;
}

.note::before,
.warning::before {
  content: '📌 ';
}

.warning::before {
  content: '⚠️ ';
}


.experimental::after {
  content: '';
  background: url('../image/beaker.svg') no-repeat center / contain;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin-left: 0.5em;
  vertical-align: text-bottom;
}