/* ----- log ----- */

/* ----- theme ----- */
:root {
  --mark: light-dark(#080, #0c0);
  --tr: light-dark(#f5f5f5, #531);
}

section.log {
  padding: 0 0.5em;
  max-width: unset;

  .domain {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5em;
    place-content: end;
  }

  table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    background-color: var(--bg);

    thead  {
      position: sticky;
      top: 0;

      th {
        color: #fff;
        background-color: #999;
        padding: 0.5em 0.2em;
        font-size: 0.9em;
        font-weight: normal;
        text-align: left;

        img {
          width: 1em;
          vertical-align: unset;
        }
      }
    }

    tr {
      &:hover {
        background-color: var(--hover) !important;
      }

      &:has(td[title*="407 Proxy"]) {
        color: var(--mark);
      }
    }

    td {
      font-size: 0.8em;
      padding: 0.2em;

      &.incognito::before {
        content: '';
        width: 1em;
        height: 1em;
        display: inline-block;
        vertical-align: text-bottom;
        background: url('../image/privateBrowsing.svg') no-repeat center / contain;
      }

      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(12) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 20em;
      }

      &:nth-of-type(7) {
        max-width: 40em;
      }

      &:nth-of-type(8) {
        border-left: 2px solid var(--border);
      }

      &:nth-of-type(12) {
        max-width: 5em;
      }
    }

    tbody tr:nth-of-type(even) {
      background-color: var(--tr);
    }
  }
}

/* ----- counter ----- */
.log tbody {
  counter-reset: n;

  tr td:first-child::before {
    display: inline-block;
    color: #aaa;
    min-width: 1.5em;
    text-align: right;
    vertical-align: middle;
    margin-right: 0.4em;
    pointer-events: none;
    counter-increment: n;
    content: counter(n);
    font-size: 0.8em;
  }
}