/* ----- navigation ----- */
:root {
  --nav-height: 3rem;
}

input[name="nav"],
input[type="checkbox"].control {
  display: none;
}

section {
  display: none;
}

.nav {
  background-color: var(--nav-bg);

  /* ----- show/hide section ----- */
  &:has(#nav1:checked) ~ article section:nth-of-type(1),
  &:has(#nav2:checked) ~ article section:nth-of-type(2),
  &:has(#nav3:checked) ~ article section:nth-of-type(3),
  &:has(#nav4:checked) ~ article section:nth-of-type(4),
  &:has(#nav5:checked) ~ article section:nth-of-type(5),
  &:has(#nav6:checked) ~ article section:nth-of-type(6),
  &:has(#nav7:checked) ~ article section:nth-of-type(7),
  &:has(#nav8:checked) ~ article section:nth-of-type(8) {
    display: block;
  }
}

nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: end;
  color: var(--nav-color);
  height: var(--nav-height);
  max-width: var(--max-width);
  margin: 0 auto;

  img {
    width: 2em;
    margin: 0.2em 0.5em;
  }

  label {
    padding: 0.5em 1em;
    user-select: none;
    border-radius: 0.5em 0.5em 0 0;

    &:hover {
      background-color: var(--nav-hover);
    }

    /* ----- selected style ----- */
    &:has(input[name="nav"]:checked) {
      background-color: var(--body-bg);
    }
  }
}