@import 'default.css';
@import 'progress-bar.css';
@import 'spinner.css';

/* ----- General ----- */
:root {
  --nav-height: 3rem;
  --max-width: 75rem;
}

html {
  scroll-padding-top: var(--nav-height);
}

body {
  opacity: 0;
  margin: 0;
  overflow: hidden;
  transition: opacity 0.5s;
  font-size: initial;
}

body::after {
  content: '';
  background-image: url('../image/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0.5em;
  right: 0;
  display: inline-block;
  width: 128px;
  height: 128px;
  opacity: 0.3;
  z-index: -1;
}

article {
  padding: 1em;
}

section {
  display: none;
  margin: 0 auto;
  max-width: var(--max-width);
  height: calc(100vh - var(--nav-height) - 2rem);
  overflow: auto;
}

iframe {
  border: none;
  margin: 0;
  width: 100%;
  height: 99%;
}

/* img {
  vertical-align: text-bottom;
} */

label[for],
input[type="checkbox"],
summary,
.pointer {
  cursor: pointer;
}

label > input[type="checkbox"] {
  margin-right: 0.5em;
}

/*
input[type="number"] {
  width: 4em;
}
*/

textarea {
  min-height: 6em;
  resize: vertical;
}

.flat {
  background: var(--btn-bg);
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
  border-radius: 5px;
  padding: 0.4em 1em;
  border: 0;
  font-weight: bold;
  font-size: 0.9em;
  min-width: 8em;
  display: inline-block;
}

.flat:hover {
  background: var(--btn-hover);
  /* box-shadow: 0px 1px 5px var(--shadow); */
}

fieldset {
  background: var(--bg);
  border-radius: 0.5em;
  border: 0;
  padding: 1.5em;
}

/* fieldset label img {
  width: 1em;
} */

.description {
  border-left: 2px solid #abc;
  font-size: 0.9em;
  font-style: italic;
  margin-left: 0.5em;
  margin-top: 0;
  padding-left: 0.3em;
}

details {
  padding: 0;
  background-color: var(--alt-bg);
  border-radius: 5px;
  margin-bottom: 0.5em;
}

details > summary {
  border-radius: 5px;
  padding: 0.5em;
}

details > summary:hover,
details[open] > summary {
  background-color: var(--hover);
}

summary ~ * {
  opacity: 0;
  transition: opacity 0.5s;
}

details[open] summary ~ * {
  opacity: 1;
}

/* ----- Navigation ----- */
input[name="nav"],
input[type="checkbox"].control {
  display: none;
}

div.nav {
  background: var(--nav-bg);
}

nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: end;
  color: var(--nav-color);
  height: var(--nav-height);
  max-width: var(--max-width);
  margin: 0 auto;
}

nav img {
  width: 2em;
  margin: 0.2em 0.5em;
}

nav > label {
  padding: 0.5em 1em;
  transition: 0.5s;
  border-radius: 0.5em 0.5em 0 0;
}

nav > label:hover {
  background: var(--nav-hover);
}

/* nav > label img {
  width: 1em;
}

nav label a {
  color: inherit;
}

nav label a:hover {
  text-decoration: none;
} */

#nav1:checked ~ article section:nth-of-type(1),
#nav2:checked ~ article section:nth-of-type(2),
#nav3:checked ~ article section:nth-of-type(3),
#nav4:checked ~ article section:nth-of-type(4),
#nav5:checked ~ article section:nth-of-type(5),
#nav6:checked ~ article section:nth-of-type(6),
#nav7:checked ~ article section:nth-of-type(7),
#nav8:checked ~ article section:nth-of-type(8) {
  display: block;
  /* animation: sect 0.5s ease-in-out; */
}

#nav1:checked ~ div.nav label[for="nav1"],
#nav2:checked ~ div.nav label[for="nav2"],
#nav3:checked ~ div.nav label[for="nav3"],
#nav4:checked ~ div.nav label[for="nav4"],
#nav5:checked ~ div.nav label[for="nav5"],
#nav6:checked ~ div.nav label[for="nav6"],
#nav7:checked ~ div.nav label[for="nav7"],
#nav8:checked ~ div.nav label[for="nav8"] {
  background-color: var(--body-bg);
}

@keyframes sect {
  0%  { opacity: 0; }
100%  { opacity: 1; }
}
/* ----- /Navigation ----- */

/* ----- Import/Export ----- */
input[type="file"] {
  display: none;
}
/* ----- /Import/Export ----- */

/* ----- Submit Button ----- */
button[type="submit"] {
  display: table;
  color: #fff;
  background: var(--btn-bg);
  font-size: 0.9em;
  font-weight: bold;
  margin: 1em auto 0;
  padding: 0.5em 3em;
  text-shadow: 0 -1px 1px #333;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 5px var(--body-bg);
}

button[type="submit"]:hover {
  background-color: var(--btn-hover);
}

button[type="submit"]:active {
  /* background-color: #3e8e41; */
  box-shadow: 0 1px var(--body-bg);
  transform: translateY(4px);
}
/* ----- /Submit Button ----- */

/* ----- Toggle Switch ----- */
.toggle {
  appearance: none;
  width: 31px;
  height: 16px;
  position: relative;
  border-radius: 50px;
  background-color: #ccc;
  transition: background-color 0.5s;
}

.toggle::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  width: 14px;
  height: 14px;
  background: #fff;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  color: #fff;
  transition: 0.5s;
}

.toggle:checked {
  background-color: var(--btn-bg);
}

.toggle:checked::before {
  left: 16px;
}
/* ----- /Toggle Switch ----- */

/* ----- Button ----- */
button.plain {
  background-color: transparent;
  padding: 0;
  margin: 0;
  min-width: 1em;
  border: none;
}

button.bin,
button.test,
button.close {
  width: 1.5em;
  border: 0;
}

button.bin::before,
button.test::before {
  content: '';
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: text-bottom;
  background: url('../image/bin.svg') no-repeat center / contain;
}

button.test::before {
  background: url('../image/beaker.svg') no-repeat center / contain;
}

button.close::before {
  content: 'âŒ';
}

.up:hover, .down:hover {
  color: #080;
}

button.random {
  font-size: 1.5em;
}


/* ----- /Button ----- */

/* ----- Options ----- */
/*
input[type="text"],
input[type="password"],
input[type="url"],
select,
textarea {
  font-size: 1em;
} */

input[type="color"] {
  border: 0;
}

.options div.container,
.options div.commands {
  display: grid;
  grid-template-columns: minmax(8em, max-content) max-content;
  gap: 0.2em 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}

.options div.buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  column-gap: 0.2em;
  margin-bottom: 1em;
}

/* button strip */
/* .options div.buttons {
  padding: 0 1.5em;
  margin: 0 -1.5em 1em;
  background: var(--btn-bg);
}

.options div.buttons > * {
  border-left: 2px solid var(--bg);
  border-radius: 0;
}

.options div.buttons > *:last-child {
  border-right: 2px solid var(--bg);
} */

/* ----- /Options ----- */


details div.content {
  padding: 0.5em;
}

/* ----- Proxy ----- */
.proxy-top {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  column-gap: 0.5em;
  margin: 0 0 0.5em;
}

.proxy-top input#filter {
  background: url('../image/filter.svg') no-repeat left 0.5em center / 1em;
  padding-left: 2em;
}

details.proxy.off {
  display: none;
}

details.proxy > summary {
  list-style: none;
  border-left: 1.5em solid var(--btn-bg);
  display: grid;
  grid-template-columns: auto 1fr repeat(5, auto);
  column-gap: 0.2em;
  align-items: center;
}

details.proxy > summary button.plain {
  line-height: 1em;
}

details.proxy > summary span:first-of-type {
  margin-right: 0.3em;
}

details.proxy > summary span:nth-of-type(2):empty::before {
  content: 'title ...';
  font-style: italic;
  opacity: 0.2;
}

.proxy-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  /* grid-auto-rows: min-content; */
  gap: 0.5em;
  padding-bottom: 0.5em;
}

.password {
  display: grid;
  grid-template-columns: 1fr 1em;
  column-gap: 0.5em;
}


/* ----- Pattern ----- */
.pattern-box {
  max-height: 10em;
  overflow-y: auto;
  padding: 0 0.5em;
}

.pattern-head {
  display: grid;
  grid-template-columns: 6em 5em 5em 1fr 2fr 1.5em 1.5em 4em;
  column-gap: 0.2em;
  place-items: center;
  background-color: var(--bg);
  padding: 0.2em 0.5em;
}

.pattern-head button {
  padding: 0.2em 1em;
  min-width: unset;
}

/* import & export (label & button) */
.pattern-head .plain {
  font-size: 1em;
  cursor: pointer;
  padding: 0.2em 0.5em;
}

.pattern-row {
  display: grid;
  grid-template-columns: 6em 5em 5em 1fr 2fr 1.5em 1.5em 2em 1em 1em;
  column-gap: 0.2em;
  align-items: center;
  margin-top: 0.3em;
}

.pattern-row input:nth-of-type(2) {
  grid-column: span 3;
}

.proxy summary button,
.pattern-box button.test,
.pattern-box button.bin {
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 1em;
  transition: 0.5s;
  color: #ccc;
  font-weight: 900;
  text-shadow: 0 -1px 1px #555, 0 1px 0 #fff;
}
/* ----- /Pattern ----- */

/* ----- Import ----- */
.import textarea {
  height: 10em;
}

.import summary::marker {
  color: var(--header);
}

.import details.import-account div.content {
  display: grid;
  grid-template-columns: 1fr 3fr 1em;
  gap: 0.5em;
}

.import details.import-account button.flat {
  justify-self: start;
}

.import details .flat {
  margin-top: 0.5em;
}
/* ----- /import ----- */

/* ----- Tester ----- */
.tester fieldset,
.tester fieldset div {
  display: grid;
  grid-template-columns: 10em 10em 1fr;
  gap: 0.8em 0.5em;
}

.tester input[type] {
  font-size: 1em;
}

.tester input[type="url"] {
  grid-column: span 2;
}

.tester .test-result {
  min-height: 4em;
  grid-column: span 2;
}

.tester button:nth-of-type(1) {
  justify-self: start;
}

.tester button:nth-of-type(2) {
  justify-self: end;
  grid-column: span 2;
}
/* ----- /Tester ----- */

/* ----- Log ----- */
section.log {
  padding: 0 0.5em;
  max-width: unset;
}

.log table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  background-color: var(--bg);
}

.log thead  {
  position: sticky;
  top: 0;
}

.log thead th {
  color: #fff;
  background: #999;
  padding: 0.5em 0.2em;
  font-size: 0.9em;
  font-weight: normal;
  text-align: left;
}

.log thead th img {
  width: 1em;
  vertical-align: unset;
}

.log tbody tr {
  /* border-bottom: 1px solid var(--border); */
  animation: sect 0.5s ease-in-out;
}

.log tr:hover {
  background: var(--hover) !important;
}

.log tbody tr:nth-of-type(even) {
  background-color: var(--tr);
}

.log td {
  font-size: 0.8em;
  padding: 0.2em;
}

.log td:nth-of-type(5),
.log td:nth-of-type(6) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 20em;
}

.log td:nth-of-type(6) {
  max-width: 40em;
}

.log td:nth-of-type(7) {
 border-left: 2px solid var(--border);
}

.log td.incognito::before {
  content: '';
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: text-bottom;
  background: url('../image/privateBrowsing.svg') no-repeat center / contain;
}

.log tbody {
  counter-reset: n;
}

.log tbody tr td:first-child::before {
  display: inline-block;
  color: #aaa;
  min-width: 1.5em;
  text-align: right;
  vertical-align: middle;
  margin-right: 0.4em;
  pointer-events: none;
  counter-increment: n;
  content: counter(n);
  font-size: 0.8em;
}

/* Not Available On Chrome (Firefox Only)" */
.log td.unavailable {
  height: 50vh;
  text-align: center;
  vertical-align: middle;
  color: var(--btn-bg);
  font-size: 3em;
}

.log td.unavailable::before {
  content: none !important;
}
/* ----- /Log ----- */