@import 'default.css';

/* ----- General ----- */
body {
  opacity: 0;
  width: 25em;
  background-color: var(--bg);
  transition: opacity 0.5s;
  font-size: 12px;
}

body.android {
  width: auto;
}

h1 {
  color: var(--nav-color);
  background: var(--body-bg);
  margin: 0;
  padding: 0.5em;
}

h1 img {
  width: 1.5em;
  vertical-align: text-bottom;
}

/* ----- Main Display ----- */
ul {
  list-style: none;
  padding: 0.1em;
  margin: 0;
  min-height: 15em;
  max-height: 20em;
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox only */
}

li {
  display: grid;
  grid-template-columns: 3em 1fr auto;
  padding: 0.2em 0.5em;
  column-gap: 0.5em;
  cursor: pointer;
}

li:hover {
  background-color: var(--hover);
}

.flag img {
  width: 1em;
}

li#disable .flag img {
  filter: opacity(0.5) grayscale(1);
}

.flag {
  display: grid;
  grid-row: span 2;
  justify-content: center;
  font-size: 2em;
}

.title {
  color: var(--header);
  font-size: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data {
  overflow: hidden;
  text-overflow: ellipsis;
}

input[name="server"] {
  grid-row: span 2;
}

input[name="server"]:not(:checked) {
  opacity: 0.3;
}

.addHost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.2em 0.5em;
  column-gap: 0.5em;
  align-items: center;
}

.excludeHost {
  padding: 0.2em 0.5em;
}

/* ----- Buttons ----- */
div.button {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 0.1em;
}

button {
  color: #fff;
  border: 0;
  padding: 0.8em;
  font-weight: bold;
}

button:hover {
  background: var(--btn-hover);
}
/* ----- /Buttons ----- */
