/* ----- Spinner ----- */
div.spinner {
  display: none;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: #0003 url('../image/loading.svg') no-repeat center/5em;

  &.on {
    display: block;
  }
}