/* ----- tester ----- */
:root {
  --pass: light-dark(#080, #0c0);
  --fail: light-dark(#f00, #f90);
}

.tester {
  h3 {
    margin: 0;

    &:nth-of-type(2) {
      margin-top: 1.5em;
    }
  }

  .tester-pattern {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em;
  }

  input {
    padding: 0.5em;
  }

  .buttons {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5em;
  }

  pre {
    color: inherit;
    border: 1px solid var(--border);
    border-radius: 0.3em;
    padding: 0.5em;
    font-size: 1.1em;
    min-height: 10em;
    background: linear-gradient(to right, var(--hover) 0, var(--hover) 2em, transparent 2em, transparent 100%);
    padding-left: 2.5em;

    span {
      margin-left: -2em;
    }
  }

  button{
    &:first-child{
      justify-self: start;
    }

    &:last-child {
      justify-self: end;
    }
  }
}

/* ----- pass, fail ----- */
:is(.pass, .fail)::before {
  display: inline-block;
  width: 1em;
  margin-right: 1em;
  text-align: center;
}

.pass {
  color: var(--pass);

  &::before {
    content: '✔';
  }
}

.fail {
  color: var(--fail);

  &::before {
    content: '✘';
  }
}